.container {
  position: sticky;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid #d9dfeb;
  background-color: white;
  z-index: 10;
}

.inner {
  max-width: 1200px;
  margin:0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  color:#4e61ff;
  height: 25px;
  width: 25px;
}

.button {
  border: none;
  background: white;
  font-size: 14px;
  font-weight: 300;
}

.menu {
  min-width: 100px;
  height: 100%;
  text-align: right;
  cursor: pointer;
}

.user {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 12px;
  font-size: 14px;
}

.menu_list {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  margin: 0px;
  border: 1px solid #ddd;
  list-style: none;
  padding: 24px;
  background-color: white;
}

.menu_list li {
  width: 100%;
  white-space: nowrap;
}

.caret_down {
  margin-left: 4px;
  font-size: 10px;
}
