.section {
  width: 100%;
}

.section input {
  width: 100%;
}

.section input:focus {
  outline: none;
}

.article {
  padding: 20px 16px;
  cursor: pointer;
  background-color: white;
}

.article:hover {
  color: #4e61ff;
}

.article p {
  font-size: 14px;
  font-weight: 200;
}

.search_list_wrapper {
  position: relative;
}

.search_list_inner {
  position: absolute;
  max-height: 40px;
  width: 100%;
  background-color: whitesmoke;
}

@media (min-width: 600px) {
  .search_list_inner {
    min-height: 100%;
  }
}
