.section {
  width: 100%;
}

.section input {
  width: 100%;
}

.section input:focus {
  outline: none;
}

.article {
  padding: 20px 16px;
  cursor: pointer;
  background-color: white;
}

.article:hover {
  color: #4e61ff;
}

.article p {
  font-size: 14px;
  font-weight: 200;
}

.search_list_wrapper {
  position: absolute;
  max-height: 300px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

.search_list_inner {
  position: relative;
  width: 100%;
}

