.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.form input {
  cursor: pointer;
}

.textarea {
  resize: none;
  width: 90%;
  height: 100px;
  border: none;
}

.textarea:focus {
  outline: none;
}

@media (min-width: 1000px) {
  .form {
    padding: 10px 0px;
  }
}